.button{
-fx-background-color: Transport;
-fx-background-raduis:50;
}
.button:hover{
-fx- font-weight: blod;
-fx-background-color:#ffffff ;
-fx-background-radius:500 500 500 500 ;
-fx-font-size: 16;
-fx-text-fill: linear-gradient(to bottom right,#FF7F50,#6A5ACD);
-fx- border-color:#2196f3
-fx-border-raduis: 200 200 200 200 ;
-fx-border-width: 10;

}
#textField {
  -fx-background-image: url('D:\\Media\\loupe_2120967.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: right center;
  -fx-font-size: 20;
}